
@{
    ViewBag.Title = "Error";
}

<div class="abs-center wd-xl">
    <!-- START panel-->
    <div class="text-center mb-xl">
        <div class="text-lg mb-lg">404</div>
        <p class="lead m0">No podemos encontrar esta página.</p>
        <p>La página que estas buscando no existe.</p>
    </div>
    <ul class="list-inline text-center text-sm mb-xl">
        <li>
            <a href="@Url.Action("All", "Ticket")" class="text-muted">Regresar a los tickets</a>
        </li>
    </ul>
</div>