@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="abs-center wd-xl">
    <!-- START panel-->
    <div class="text-center mb-xl">
        <div class="text-lg mb-lg">400</div>
        <p class="lead m0">Tuvimos un error al procesar tu solicitud.</p>
    </div>
   
    <ul class="list-inline text-center text-sm mb-xl">
        <li>
            <a href="@Url.Action("All", "Ticket")" class="text-muted">Regresar a los tickets</a>
        </li>
    </ul>
</div>


